@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --logo-color: rgb(22, 214, 157);
  --nav-linkColor: rgb(105, 105, 105);
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  position: relative;
  background-color: whitesmoke;
}
/* ===== HEADER ===== */
  header {
    border-bottom: 1px solid white;
    box-shadow: 0 0 5px -2px black;
    padding: 5px 25px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
  }
  header nav {
    font-family: Galada, cursive;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
  }
  header nav span {
    color: var(--logo-color);
  }
  .links {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    width: 220px;
    display: flex;
    justify-content: space-between;
  }
  .links a {
    color: var(--nav-linkColor);
    font-weight: bold;
    position: relative;
    opacity: 0.5;
    transition: 200ms;
  }
  .links a:hover {
    opacity: 1;
    transition: 200ms;
  }
  .links a::after {
    content: "";
    width: 0;
    height: -2px;
    left: 0;
    bottom: 0px;
    position: absolute;
  }
  .links a:hover::after {
    width: 100%;
    bottom: -6px;
    height: 2px;
    transition: bottom 200ms ease-in-out;
    background-color: var(--logo-color);
  }
/* ================== */