{% extends 'layout.njk' %}
{% block head %}
  <link rel="stylesheet" href="/teachers/show.css">
{% endblock %}
{% block content %}
  <main>

    <div class="cards">
      <section class="avatar"
        style="background: url('{{ teacher.avatar_url }}') no-repeat center center / cover;
        margin: 50px auto;">
      </section>

      <section class="info-card">

        <form method="POST" action="/teachers?_method=PUT">        
          <h3>Editar professor(a)</h3>
          {% include 'teachers/fields.njk' %}
          <input type="hidden" name="id" value="{{ teacher.id }}">  
          <button type="submit" class="save">Salvar</button>
        </form>

        <form id="formDelete" action="/teachers?_method=DELETE" method="POST"> 
          <input type="hidden" name="id" value="{{ teacher.id }}">
          <button type="submit" class="delete">Deletar</button>
        </form>        

        {% include '../confirm.njk' %}

      </section>
    </div>
  </main>
{% endblock %}