<div class="item">
  <div>Foto</div>
  <div>
    <input 
      type="url" 
      name="avatar_url"
      value="{{ teacher.avatar_url }}"
      placeholder="https://">
  </div>
</div>

<div class="item">
  <div>Nome</div>
  <div>
    <input 
      type="text" 
      name="name"
      value="{{ teacher.name }}"  
      placeholder="Nome">
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input 
    type="date" 
    name="birth_date"
    value="{{ teacher.birth_date }}">
  </div>
</div>

<div class="item">
  <div>Grau de escolaridade</div>
  <select name="education_level">
    <option value="Bacharelado"
      {% if teacher.education_level == "Bacharelado"%}
        selected
      {% endif %}>
      Bacharelado
    </option>
    <option value="Mestrado"
      {% if teacher.education_level == "Mestrado"%}
          selected
      {% endif %}>
      Mestrado
    </option>
    <option value="Doutorado"
      {% if teacher.education_level == "Doutorado"%}
        selected
      {% endif %}>
      Doutorado
    </option>
  </select>
</div>

<div class="item">
  <div>Tipo de aula</div>
  <div>
    <span class="input">
      <input 
      type="radio" 
      name="class_type"
      value="live"
      {% if teacher.class_type == "live"%}
        checked
      {% endif %}>
      Presencial
    </span>
    <span class="input">
      <input 
      type="radio"
      value="liveInternet" 
      name="class_type"
      {% if teacher.class_type == "liveInternet"%}
        checked
      {% endif %}>
      Á distância
    </span>
  </div>
</div>

<div class="item">
  <div>Acompanhamento</div>
  <div>
    <input 
    type="text" 
    name="subjects_taught"  
    value="{{ teacher.subjects_taught }}"
    placeholder="Matérias">
  </div>
</div>