{% extends 'layout.njk' %}
{% block head %}
  <link rel="stylesheet" href="/teachers/show.css">
{% endblock %}
{% block content %}
  <main>
    <div class="cards">
      <section class="avatar"
      style="background: url('{{ teacher.avatar }}') no-repeat center / cover;
      margin: 50px auto;">
      </section>
      <section class="info-card">
        <h3>Detalhes</h3>

        <div class="item">
          <div>Professor(a)</div>
          <div>{{ teacher.name }}</div>
        </div>

        <div class="item">
          <div>Idade</div>
          <div>{{ teacher.age }}</div>
        </div>

        <div class="item">
          <div>Grau de escolaridade</div>
          <select name="level">
            <option value="bacharelado"
            {% if teacher.level == "bacharelado"%}
              selected
            {% endif %}>
              Bacharelado
            </option>
            <option value="mestrado"
            {% if teacher.level == "mestrado"%}
              selected
            {% endif %}>
              Mestrado
            </option>
            <option value="doutorado"
            {% if teacher.level == "doutorado"%}
              selected
            {% endif %}>
              Doutorado
            </option>
          </select>
        </div>

        <div class="item">
          <div>Tipo de aula</div>
          <div>
            <span class="input">
              <input 
                type="radio" 
                name="typeOfClass"
                value="live"
                {% if teacher.typeOfClass == "live"%}
                  checked
                {% endif %}>
              Presencial
            </span>
            <span class="input">
              <input 
                type="radio"
                value="liveInternet" 
                name="typeOfClass"
                {% if teacher.typeOfClass == "liveInternet"%}
                  checked
                {% endif %}>
              Á distância
            </span>
          </div>
        </div>

        <div class="item">
          <div>Acompanhamento</div>
          <div>
            {% for class in teacher.classRoom %}
              <span>{{ class }}</span>
            {% endfor %}
          </div>
        </div>

        <div class="item">
          <div>Desde</div>
          <div>{{ teacher.created_at }}</div>
        </div>

        <a href="/teachers/{{ teacher.id }}/edit">Editar</a>
        <a href="/teachers" class="back">Voltar</a>

      </section>
    </div>
  </main>
{% endblock %}